.form-funtcion {
  background-color: white;
  border: 1px solid darkgray;
  border-top: none;
  padding: 20px 40px;
}
.form-funtcion .form-add--product label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.form-funtcion .form-add--product input,
.form-add--product select,
.form-add--product textarea {
  padding: 10px 20px;
  border: 1px solid darkgray;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  width: 100%;
  transition: all 0.25s linear;
  resize: none;
}
.form-funtcion .form-add--product input:focus,
.form-add--product select:focus,
.form-add--product textarea:focus {
  border-color: #4a6edc;
}
.form-add--product button {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 30px;
  background-color: #4a6edc;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  margin-right: 20px;
  border-radius: 3px;
  transition: all 0.25s linear;
}
.form-add--product .edit-pro--img {
  width: 20%;
  height: 20%;
  margin-bottom: 10px;
}
.form-add--product .edit-pro--img img {
  border-radius: 3px;
}
.form-add--product input[type="submit"] {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 30px;
  background-color: #4a6edc;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  margin-right: 20px;
  border-radius: 3px;
  transition: all 0.25s linear;
  width: 160px;
}

.form-add--product button a {
  color: white;
}
.form-add--product button:hover {
  background-color: #112d6b;
}
.pro-quantity .pro-quantity--name {
  color: #4a6edc;
  color: #112d6b;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 600;
  margin-right: 30px;
  display: inline-block;
  padding: 5px 0px 30px 0px;
}
.tabel-list--normal {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}
.tabel-list--normal th,
.tabel-list--normal td {
  border: 1px solid darkgray;
  padding: 10px;
  text-align: center;
}
.pro-name--table {
  text-align: left;
  padding: 5px 30px;
  color: #112d6b;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 600;
}
.role-boxed {
  border: 1px solid darkgray;
  border-radius: 3px;
  padding: 10px 20px;
  padding-bottom: 0px;
  margin-top: 10px;
}
.role-label {
  display: inline-block !important;
  /* border: 1px solid red; */
  font-weight: normal !important;
}
.role-input {
  display: inline-block !important;
  /* border: 1px solid blue !important; */
  width: 100px !important;
  margin-left: -30px !important;
  margin-right: 40px;
}
.none-after::after {
  content: "" !important;
}
.table-td-button {
  text-align: left !important;
  padding: 20px 50px !important;
}
.btn-chart a {
  display: inline-block;
  color: white;
  background-color: #4a6edc;
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 2px;
  transition: all 0.25s linear;
}
.btn-chart a:hover {
  background-color: #112d6b;
}
